.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  button {
    width: 100px;
  }
}
.crash {
  padding: 0 25px;

  &__top {
    width: 100%;
    display: flex;

    &-side {
      flex-grow: 1;
      margin: 0 0 0 20px;
    }
  }

  &__game {
    width: 800px;
    height: 400px;
    background: #1f232f;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;

    &::before {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      background: repeating-linear-gradient(
        to right,
        #1f232f,
        #1f232f 100px,
        #1d202c 10px,
        #1d202c 200px
      );
    }

    &-row {
      position: relative;
    }

    canvas {
      height: 100% !important;
      margin: -5px 0 0 0;
    }

    &-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: -15px;
      display: flex;
    }

    &-countdown {
      min-width: 200px;
      padding: 200px 0 0 0;
      margin: auto;
      position: relative;
      text-align: center;

      &::before {
        width: 400px;
        height: 400px;
        content: '';
        position: absolute;
        left: 50%;
        top: -60px;
        transform: translateX(-50%);
        margin: auto;
        background-size: 100%;
        animation: 2s blinking infinite;
      }

      &::after {
        width: 196px;
        height: 182px;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: auto;
        background-size: 100%;
        animation: 4s firstFlying ease-in-out infinite;
      }

      .crash-timer {
        font-weight: 500;
        font-size: 17px;
        line-height: 21px;
        color: #e2e2eb;
        position: relative;
        animation: 1s flashing ease-in-out infinite;
        display: flex;
        gap: 5px;
        &_wrap {
          display: flex;
          width: 50px;
          span {
            width: 50%;
          }
        }
      }
    }
  }
}
